.footer{
    height:350px;
    width: 100%;
    background-color: black;;
    display:flex;
    justify-content: space-around;
    font-size: 17px;
    font-weight: normal;
}
.footerbox{
    height:180px;
    width: 300px;
    
    float:left;
    margin-top:10px;
    color:white;

}
.media{
    height: 30px;
    width: 220px;
    float: left;

    
}
.m1{
    height: 30px;
    width: 70px;
    border: 0.1px solid white;
    float: left;
}
