.about {
    height: 500px;
    width: 100%;
}

.main-1-1 {
    height: 50px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
}

.main-1 {
    height: 500px;
    width: 50%;
    margin: 20px;
    font-size: 20px;
    float: left;

}

.main-2 {

    height: 500px;
    width: 650px;
    float: left;


}

.photo {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 100px 100px red;
    height: 50px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    width: 100%;
}

.gallery {
    height: 1100px;
    width: 100%;

}

.g1 {
    height: 300px;
    width: 290px;
    margin: 20px;
    border: 4px solid rgb(216, 216, 127);
    float: left;
}

.table {
    background-image: url('g-14.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 80vh;
    width:1550px;
    font-size: 30px;
    top: 30%;
    left: 50%;
    transform: translate(-6%, -6%);
    color: #f5b654;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    opacity: 0.8;
}


.table-1 {
   
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px black;
    width: 1000px;
    height: 210px;
    top: 30%;
    left: 50%;
    margin-left: 300px;
    /* border: 2px solid wheat; */
    color:white; 
    font-size: 20px;
   
    padding-top: 40px;

    
   

}
.table-1-1{
    height: 105px;
    width: 1000px;
}

.table-1-1-1 {
    width: 330px;
    /* background-color: black; */
    height: 50px;
    float: left;


}
#opacity{
     opacity: 1;
}
.g1:hover{
    box-shadow: 0px 0px 10px 10px pink;
}
.photo:hover{
    background-color:  rgb(248,103,237);
}
.last{
    background-image: url('last-1.jpg');
    background-position: center;
    background-size: 100% 600px;
    background-repeat: none;
    height: 80vh;
    width: 100%;
    font-size: 30px;
    top: 30%;
    left: 50%;
    transform: translate(-6%, -6%);
    color: #f5b654;
    ;
    text-align: center;
    font-family: cursive;
    margin-left: 50px;

}
.gallery-1{
    height: 400px;
    width: 100%;
}
.last p{
    font-size: 30px;
    text-align: center;
    color:black;
    font: bolder;
    



}
#name-1{
    height: 30px;
    width: 180px;
    border-radius: 10px;
}

